# Initialization

In [1]:
import logging

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
%matplotlib inline
%config InlineBackend.figure_format = 'png'
%config InlineBackend.figure_format = 'retina'

# Загрузка данных

In [3]:
items = pd.read_parquet("items.par")
events = pd.read_parquet("events.par")

# Разбиение с учётом хронологии

Рекомендательные системы на практике работают с учётом хронологии. Поэтому поток событий для тренировки и валидации полезно делить на то, что уже случилось, и что ещё случится. Это позволяет проводить валидацию на тех же пользователях, на которых тренировались, но на их событиях в будущем.

# === Знакомство: "холодный" старт

In [4]:
# зададим точку разбиения
train_test_global_time_split_date = pd.to_datetime("2017-08-01").date()

train_test_global_time_split_idx = events["started_at"] < train_test_global_time_split_date
events_train = events[train_test_global_time_split_idx]
events_test = events[~train_test_global_time_split_idx]

# количество пользователей в train и test
users_train = events_train["user_id"].drop_duplicates()
users_test = events_test["user_id"].drop_duplicates()
# количество пользователей, которые есть и в train, и в test
common_users = pd.Series(list(set(users_train).intersection(set(users_test))))
print(len(users_train), len(users_test), len(common_users))

# Идентифицируйте холодных пользователей и оцените их количество.
cold_users = users_test[~users_test.isin(users_train)]

print(len(cold_users))

428220 123223 120858
2365

In [5]:
# получить топ-100 наиболее популярных книг

from sklearn.preprocessing import MinMaxScaler

top_pop_start_date = pd.to_datetime("2015-01-01").date()

item_popularity = events_train \
    .query("started_at >= @top_pop_start_date") \
    .groupby(["item_id"]).agg(users=("user_id", "nunique"), avg_rating=("rating", "mean")).reset_index()

# нормализация пользователей и среднего рейтинга, требуется для их приведения к одному масштабу
scaler = MinMaxScaler()
item_popularity[["users_norm", "avg_rating_norm"]] = scaler.fit_transform(
    item_popularity[["users", "avg_rating"]]
)

# вычисляем popularity_score, как скор популярности со штрафом за низкий рейтинг
item_popularity["popularity_score"] = (
    item_popularity["users_norm"] * item_popularity["avg_rating_norm"]
)

# сортируем по убыванию popularity_score
item_popularity = item_popularity.sort_values(by="popularity_score", ascending=False)

# выбираем первые 100 айтемов со средней оценкой avg_rating не меньше 4
top_k_pop_items = item_popularity.query("avg_rating >= 4").head(100)

top_k_pop_items

,item_id,users,avg_rating,users_norm,avg_rating_norm,popularity_score
32387,18007564,20207,4.321275,0.496596,0.830319,0.412333
32623,18143977,19462,4.290669,0.478287,0.822667,0.393471
2,3,15139,4.706057,0.372042,0.926514,0.344702
30695,16096824,16770,4.301014,0.412126,0.825253,0.340108
1916,15881,13043,4.632447,0.320529,0.908112,0.291076
...,...,...,...,...,...,...
24837,8490112,4792,4.080968,0.117747,0.770242,0.090694
33611,18966819,4361,4.374914,0.107154,0.843729,0.090409
378,3636,4667,4.098564,0.114675,0.774641,0.088832
32835,18293427,4674,4.092640,0.114847,0.773160,0.088795
37118,26252859,4371,4.293068,0.107400,0.823267,0.088419

# === Знакомство: первые персональные рекомендации

In [6]:
# добавляем информацию о книгах
top_k_pop_items = top_k_pop_items.merge(
    items.set_index("item_id")[["author", "title", "genre_and_votes", "publication_year"]], on="item_id")

with pd.option_context('display.max_rows', 100):
    display(top_k_pop_items[["item_id", "author", "title", "publication_year", "users", "avg_rating", "popularity_score", "genre_and_votes"]])

,item_id,author,title,publication_year,users,avg_rating,popularity_score,genre_and_votes
0,18007564,Andy Weir,The Martian,2014,20207,4.321275,0.412333,"{'Science Fiction': 11966, 'Fiction': 8430}"
1,18143977,Anthony Doerr,All the Light We Cannot See,2014,19462,4.290669,0.393471,"{'Historical-Historical Fiction': 13679, 'Fict..."
2,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,1997,15139,4.706057,0.344702,"{'Fantasy': 59818, 'Fiction': 17918, 'Young Ad..."
3,16096824,Sarah J. Maas,A Court of Thorns and Roses (A Court of Thorns...,2015,16770,4.301014,0.340108,"{'Fantasy': 14326, 'Young Adult': 4662, 'Roman..."
4,15881,"J.K. Rowling, Mary GrandPré",Harry Potter and the Chamber of Secrets (Harry...,1999,13043,4.632447,0.291076,"{'Fantasy': 50130, 'Young Adult': 15202, 'Fict..."
5,38447,Margaret Atwood,The Handmaid's Tale,1998,14611,4.232770,0.290194,"{'Fiction': 15424, 'Classics': 9937, 'Science ..."
6,11235712,Marissa Meyer,"Cinder (The Lunar Chronicles, #1)",2012,14348,4.179189,0.280247,"{'Young Adult': 10539, 'Fantasy': 9237, 'Scien..."
7,17927395,Sarah J. Maas,A Court of Mist and Fury (A Court of Thorns an...,2016,12177,4.730640,0.279094,"{'Fantasy': 10186, 'Romance': 3346, 'Young Adu..."
8,5,"J.K. Rowling, Mary GrandPré",Harry Potter and the Prisoner of Azkaban (Harr...,2004,11890,4.770143,0.275401,"{'Fantasy': 49784, 'Young Adult': 15393, 'Fict..."
9,13206900,Marissa Meyer,"Winter (The Lunar Chronicles, #4)",2015,12291,4.534293,0.266881,"{'Fantasy': 4835, 'Young Adult': 4672, 'Scienc..."
10,21853621,Kristin Hannah,The Nightingale,2015,12294,4.528144,0.266482,"{'Historical-Historical Fiction': 10105, 'Fict..."
11,18692431,"Nicola Yoon, David Yoon","Everything, Everything",2015,14121,4.071454,0.266466,"{'Young Adult': 5175, 'Romance': 3234, 'Contem..."
12,6,"J.K. Rowling, Mary GrandPré",Harry Potter and the Goblet of Fire (Harry Pot...,2002,10679,4.764772,0.246997,"{'Fantasy': 48257, 'Young Adult': 15483, 'Fict..."
13,16068905,Rainbow Rowell,Fangirl,2013,12642,4.119839,0.242313,"{'Young Adult': 9301, 'Contemporary': 5760, 'R..."
14,23437156,Leigh Bardugo,"Six of Crows (Six of Crows, #1)",2015,11138,4.512300,0.240338,"{'Fantasy': 15409, 'Young Adult': 6520}"
15,9969571,Ernest Cline,Ready Player One,2011,11812,4.290044,0.238754,"{'Science Fiction': 10560, 'Fiction': 7713, 'Y..."
16,17167166,Sarah J. Maas,"Crown of Midnight (Throne of Glass, #2)",2013,11025,4.509751,0.237727,"{'Fantasy': 11344, 'Young Adult': 4695, 'Roman..."
17,15745753,Rainbow Rowell,Eleanor & Park,2013,12410,4.046575,0.232280,"{'Young Adult': 11593, 'Romance': 6881, 'Conte..."
18,13206760,Marissa Meyer,"Scarlet (The Lunar Chronicles, #2)",2013,11514,4.262376,0.230773,"{'Young Adult': 6930, 'Fantasy': 6267, 'Scienc..."
19,13206828,Marissa Meyer,"Cress (The Lunar Chronicles, #3)",2014,10605,4.487977,0.227251,"{'Young Adult': 5813, 'Fantasy': 5413, 'Scienc..."
20,18006496,Sarah J. Maas,"Queen of Shadows (Throne of Glass, #4)",2015,10241,4.610097,0.227134,"{'Fantasy': 8435, 'Young Adult': 3170, 'Romanc..."
21,20613470,Sarah J. Maas,"Heir of Fire (Throne of Glass, #3)",2014,10133,4.495608,0.217611,"{'Fantasy': 9677, 'Young Adult': 3800, 'Romanc..."
22,2657,Harper Lee,To Kill a Mockingbird,2006,10188,4.459069,0.216505,"{'Classics': 41773, 'Fiction': 21733, 'Histori..."
23,2,"J.K. Rowling, Mary GrandPré",Harry Potter and the Order of the Phoenix (Har...,2004,9528,4.685873,0.215754,"{'Fantasy': 46485, 'Young Adult': 15194, 'Fict..."
24,18774964,"Fredrik Backman, Henning Koch",A Man Called Ove,2014,10024,4.394852,0.209065,"{'Fiction': 7091, 'Contemporary': 1656, 'Audio..."
25,18460392,Jennifer Niven,All the Bright Places,2015,10870,4.122355,0.208514,"{'Young Adult': 4691, 'Contemporary': 2534, 'R..."
26,7896527,Sarah J. Maas,"Throne of Glass (Throne of Glass, #1)",2012,10329,4.219866,0.204323,"{'Fantasy': 16888, 'Young Adult': 7306, 'Roman..."
27,1,J.K. Rowling,Harry Potter and the Half-Blood Prince (Harry ...,2006,8728,4.796059,0.203545,"{'Fantasy': 46400, 'Young Adult': 15083, 'Fict..."
28,20170404,Emily St. John Mandel,Station Eleven,2014,10511,4.127961,0.201989,"{'Fiction': 5860, 'Science Fiction': 3274, 'Sc..."
29,136251,J.K. Rowling,Harry Potter and the Deathly Hallows (Harry Po...,2007,8390,4.850775,0.198482,"{'Fantasy': 46667, 'Young Adult': 15403, 'Fict..."
30,16101128,Rick Yancey,"The 5th Wave (The 5th Wave, #1)",2013,9383,4.035809,0.174998,"{'Young Adult': 5331, 'Science Fiction': 3197,..."
31,5470,"George Orwell, Erich Fromm",1984,1950,9059,4.124738,0.173904,"{'Classics': 33441, 'Fiction': 21086, 'Science..."
32,19063,Markus Zusak,The Book Thief,<NA>,8085,4.479530,0.172826,"{'Historical-Historical Fiction': 18340, 'Fict..."
33,23395680,"Amie Kaufman, Jay Kristoff","Illuminae (The Illuminae Files, #1)",2015,8170,4.380416,0.169669,"{'Science Fiction': 3927, 'Young Adult': 3535,..."
34,25494343,Cassandra Clare,"Lady Midnight (The Dark Artifices, #1)",2016,7717,4.558248,0.168691,"{'Fantasy': 4277, 'Young Adult': 2491, 'Romanc..."
35,22055262,V.E. Schwab,"A Darker Shade of Magic (Shades of Magic, #1)",2015,8660,4.138684,0.166985,"{'Fantasy': 14539, 'Young Adult': 2101, 'Ficti..."
36,28260587,Sarah J. Maas,"Empire of Storms (Throne of Glass, #5)",2016,7416,4.557174,0.162061,"{'Fantasy': 6616, 'Young Adult': 2251, 'Romanc..."
37,23766634,Sarah J. Maas,A Court of Wings and Ruin (A Court of Thorns a...,2017,7455,4.490677,0.159868,"{'Fantasy': 7960, 'Romance': 2365, 'Young Adul..."
38,18798983,Renée Ahdieh,The Wrath and the Dawn (The Wrath and the Dawn...,2015,7887,4.255610,0.157744,"{'Fantasy': 5942, 'Young Adult': 3448, 'Romanc..."
39,27362503,Colleen Hoover,It Ends with Us,<NA>,7268,4.523115,0.157306,"{'Romance': 3077, 'Contemporary': 1673, 'New A..."
40,17675462,Maggie Stiefvater,"The Raven Boys (The Raven Cycle, #1)",2012,8049,4.096658,0.153124,"{'Fantasy': 9481, 'Young Adult': 7067, 'Fantas..."
41,23513349,Rupi Kaur,Milk and Honey,2014,7720,4.161788,0.149954,"{'Poetry': 14490, 'Feminism': 1105, 'Nonfictio..."
42,9361589,Erin Morgenstern,The Night Circus,2011,7361,4.085858,0.139546,"{'Fantasy': 16749, 'Fiction': 7058, 'Romance':..."
43,18635016,Kiera Cass,"The One (The Selection, #3)",2014,7340,4.073025,0.138569,"{'Young Adult': 4782, 'Romance': 3852, 'Scienc..."
44,15749186,Jenny Han,To All the Boys I've Loved Before (To All the ...,2015,7189,4.070942,0.135626,"{'Young Adult': 5919, 'Romance': 4965, 'Contem..."
45,22489107,Marissa Meyer,"Fairest (The Lunar Chronicles, #3.5)",2015,7254,4.040805,0.135509,"{'Fantasy': 2825, 'Young Adult': 2772, 'Scienc..."
46,10964,Diana Gabaldon,"Outlander (Outlander, #1)",2005,7002,4.126107,0.134470,"{'Historical-Historical Fiction': 10725, 'Roma..."
47,10194157,Leigh Bardugo,"Shadow and Bone (The Grisha, #1)",2012,7120,4.058567,0.133783,"{'Fantasy': 14290, 'Young Adult': 6921, 'Roman..."
48,20698530,Jenny Han,P.S. I Still Love You (To All the Boys I've Lo...,2015,6918,4.109858,0.132166,"{'Young Adult': 3659, 'Romance': 3112, 'Contem..."
49,27833670,Blake Crouch,Dark Matter,2016,6747,4.121980,0.129402,"{'Science Fiction': 4244, 'Fiction': 3079, 'Th..."
50,22544764,Naomi Novik,Uprooted,2015,6728,4.107164,0.128425,"{'Fantasy': 13419, 'Young Adult': 2048, 'Ficti..."
51,28187,Rick Riordan,The Lightning Thief (Percy Jackson and the Oly...,2006,6445,4.208534,0.127036,"{'Fantasy': 21419, 'Young Adult': 9587, 'Fanta..."
52,23164983,Ransom Riggs,Hollow City (Miss Peregrine’s Peculiar Childre...,<NA>,6639,4.041723,0.124057,"{'Fantasy': 4427, 'Young Adult': 3025, 'Fictio..."
53,15839976,Pierce Brown,"Red Rising (Red Rising, #1)",2014,6399,4.150180,0.123835,"{'Science Fiction': 4634, 'Fantasy': 2920, 'Yo..."
54,25489625,Ta-Nehisi Coates,Between the World and Me,2015,5762,4.470149,0.122831,"{'Nonfiction': 6587, 'Autobiography-Memoir': 2..."
55,32075671,Angie Thomas,The Hate U Give,2017,5385,4.707335,0.122639,"{'Young Adult': 8354, 'Fiction': 5014, 'Contem..."
56,28763485,Nicola Yoon,The Sun Is Also a Star,2016,6221,4.194663,0.122090,"{'Young Adult': 3806, 'Romance': 2512, 'Contem..."
57,22738563,Chimamanda Ngozi Adichie,We Should All Be Feminists,2014,5555,4.568317,0.121768,"{'Nonfiction': 6864, 'Feminism': 4519, 'Writin..."
58,13496,George R.R. Martin,"A Game of Thrones (A Song of Ice and Fire, #1)",2005,5699,4.440779,0.120460,"{'Fantasy': 44086, 'Fiction': 10111, 'Fantasy-..."
59,25111004,Colleen Hoover,November 9,2015,5806,4.366345,0.120067,"{'Romance': 1811, 'New Adult': 1296, 'Contempo..."
60,7171637,Cassandra Clare,"Clockwork Angel (The Infernal Devices, #1)",2010,5869,4.261714,0.117598,"{'Fantasy': 10151, 'Young Adult': 7424, 'Fanta..."
61,1885,"Jane Austen, Anna Quindlen",Pride and Prejudice,2000,5700,4.316316,0.116123,"{'Classics': 46807, 'Fiction': 14324, 'Romance..."
62,7613,"George Orwell, Boris Grabnar, Peter Škerl",Animal Farm,2003,5908,4.189235,0.115749,"{'Classics': 30122, 'Fiction': 17416, 'Science..."
63,186074,Patrick Rothfuss,The Name of the Wind (The Kingkiller Chronicle...,2007,5530,4.406510,0.115723,"{'Fantasy': 28188, 'Fiction': 4251, 'Fantasy-E..."
64,1582996,Cassandra Clare,"City of Ashes (The Mortal Instruments, #2)",2008,6050,4.083140,0.114588,"{'Fantasy': 11997, 'Young Adult': 9281, 'Fanta..."
65,13335037,Veronica Roth,"Divergent (Divergent, #1)",2012,5929,4.130882,0.114035,"{'Young Adult': 20260, 'Science Fiction-Dystop..."
66,3777732,Cassandra Clare,"City of Glass (The Mortal Instruments, #3)",<NA>,5469,4.365332,0.113063,"{'Fantasy': 11194, 'Young Adult': 8549, 'Fanta..."
67,30555488,Colson Whitehead,The Underground Railroad,2016,6050,4.029752,0.112604,"{'Historical-Historical Fiction': 5191, 'Ficti..."
68,11870085,John Green,The Fault in Our Stars,2012,5819,4.130091,0.111891,"{'Young Adult': 20449, 'Fiction': 10338, 'Roma..."
69,15704307,"Brian K. Vaughan, Fiona Staples","Saga, Vol. 1 (Saga, #1)",2012,5322,4.410936,0.111514,"{'Sequential Art-Graphic Novels': 7803, 'Seque..."
70,17378508,Maggie Stiefvater,"Blue Lily, Lily Blue (The Raven Cycle, #3)",2014,5284,4.335541,0.108270,"{'Fantasy': 5121, 'Young Adult': 3651, 'Fantas..."
71,23848559,Jenny Lawson,Furiously Happy: A Funny Book About Horrible T...,2015,5592,4.065629,0.105311,"{'Nonfiction': 3138, 'Humor': 1914, 'Autobiogr..."
72,10025305,Cassandra Clare,"Clockwork Prince (The Infernal Devices, #2)",2011,4900,4.491224,0.105087,"{'Fantasy': 7212, 'Young Adult': 5170, 'Romanc..."
73,8755785,Cassandra Clare,"City of Heavenly Fire (The Mortal Instruments,...",2014,4933,4.461788,0.104903,"{'Fantasy': 5999, 'Young Adult': 4162, 'Fantas..."
74,18335634,Cassandra Clare,"Clockwork Princess (The Infernal Devices, #3)",2013,4632,4.644214,0.103691,"{'Fantasy': 6538, 'Young Adult': 4566, 'Romanc..."
75,17851885,"Malala Yousafzai, Christina Lamb",I Am Malala: The Story of the Girl Who Stood U...,2013,5251,4.190821,0.102926,"{'Nonfiction': 5580, 'Biography': 2294, 'Autob..."
76,17788401,Colleen Hoover,Ugly Love,2014,5189,4.222779,0.102729,"{'Romance': 2972, 'New Adult': 2006, 'Contempo..."
77,18243700,Sarah J. Maas,"The Assassin's Blade (Throne of Glass, #0.1-0.5)",2014,4795,4.444004,0.101444,"{'Fantasy': 4943, 'Young Adult': 2078, 'Romanc..."
78,25899336,Paul Kalanithi,When Breath Becomes Air,<NA>,4798,4.427261,0.101014,"{'Nonfiction': 5848, 'Autobiography-Memoir': 3..."
79,18584855,Marissa Meyer,Heartless,2016,5264,4.071619,0.099326,"{'Fantasy': 4654, 'Young Adult': 2581, 'Retell..."
80,28587957,Jodi Picoult,Small Great Things,2016,4832,4.336921,0.099048,"{'Fiction': 2506, 'Contemporary': 576, 'Audiob..."
81,25614492,Ruta Sepetys,Salt to the Sea,2016,4655,4.423631,0.097899,"{'Historical-Historical Fiction': 5528, 'Young..."
82,6936382,Stephanie Perkins,Anna and the French Kiss (Anna and the French ...,2010,5050,4.108713,0.096438,"{'Young Adult': 6126, 'Romance': 5253, 'Contem..."
83,14061955,Leigh Bardugo,"Siege and Storm (The Grisha, #2)",2013,5194,4.003851,0.095843,"{'Fantasy': 8707, 'Young Adult': 4242, 'Romanc..."
84,24378015,"Colleen Hoover, Tarryn Fisher","Never Never (Never Never, #1)",<NA>,4942,4.156414,0.095823,"{'Romance': 1111, 'Young Adult': 954, 'Contemp..."
85,15724396,Rick Riordan,The Sword of Summer (Magnus Chase and the Gods...,2015,4825,4.224870,0.095583,"{'Fantasy': 4007, 'Fantasy-Mythology': 1823, '..."
86,18214414,Robert Galbraith,"The Silkworm (Cormoran Strike, #2)",2014,5101,4.042933,0.095351,"{'Mystery': 4585, 'Fiction': 2232, 'Mystery-Cr..."
87,77203,"Khaled Hosseini, Berliani M. Nugrahani",The Kite Runner,2004,4494,4.413663,0.094237,"{'Fiction': 14993, 'Historical-Historical Fict..."
88,17131869,"Brian K. Vaughan, Fiona Staples","Saga, Vol. 2 (Saga, #2)",2013,4355,4.516648,0.094076,"{'Sequential Art-Graphic Novels': 5510, 'Seque..."
89,27071490,Yaa Gyasi,Homegoing,2016,4376,4.499086,0.094058,"{'Historical-Historical Fiction': 3664, 'Ficti..."
90,15796700,"Chimamanda Ngozi Adichie, Jashar Awan",Americanah,2013,4564,4.343120,0.093727,"{'Fiction': 5255, 'Cultural-Africa': 1270, 'Co..."
91,23093367,"Brian K. Vaughan, Fiona Staples","Saga, Vol. 4 (Saga, #4)",2014,4329,4.454377,0.091859,"{'Sequential Art-Graphic Novels': 4243, 'Seque..."
92,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",2008,4361,4.413437,0.091441,"{'Young Adult': 30042, 'Fiction': 16754, 'Scie..."
93,15818107,"Christina Baker Kline, Christina Baker Kline",Orphan Train,2013,4748,4.119419,0.090982,"{'Historical-Historical Fiction': 4762, 'Ficti..."
94,14061957,Leigh Bardugo,"Ruin and Rising (The Grisha, #3)",2014,4656,4.176332,0.090847,"{'Fantasy': 7376, 'Young Adult': 3542, 'Romanc..."
95,8490112,Laini Taylor,Daughter of Smoke & Bone (Daughter of Smoke & ...,2011,4792,4.080968,0.090694,"{'Fantasy': 11681, 'Young Adult': 7110, 'Roman..."
96,18966819,Pierce Brown,"Golden Son (Red Rising, #2)",2015,4361,4.374914,0.090409,"{'Science Fiction': 2613, 'Fantasy': 1372, 'Sc..."
97,3636,Lois Lowry,"The Giver (The Giver, #1)",2006,4667,4.098564,0.088832,"{'Young Adult': 10993, 'Fiction': 9045, 'Class..."
98,18293427,Gabrielle Zevin,The Storied Life of A.J. Fikry,2014,4674,4.092640,0.088795,"{'Fiction': 3795, 'Contemporary': 1100, 'Writi..."
99,26252859,Rick Riordan,"The Hidden Oracle (The Trials of Apollo, #1)",2016,4371,4.293068,0.088419,"{'Fantasy': 3173, 'Fantasy-Mythology': 1514}"

In [7]:
cold_users_events_with_recs = \
    events_test[events_test["user_id"].isin(cold_users)] \
    .merge(top_k_pop_items, on="item_id", how="left")

cold_user_items_no_avg_rating_idx = cold_users_events_with_recs["avg_rating"].isnull()
cold_user_recs = cold_users_events_with_recs[~cold_user_items_no_avg_rating_idx] \
    [["user_id", "item_id", "rating", "avg_rating"]]

In [8]:
# Проверьте количество строк, чтобы убедиться, что оно осталось прежним
original_row_count = len(events_test[events_test["user_id"].isin(cold_users)])
current_row_count = len(cold_users_events_with_recs)

# Проверяем, одинаково ли количество строк
original_row_count, current_row_count

(9672, 9672)

In [9]:
# доли событий «холодных» пользователей в events_test рекомендации в top_k_pop_items
proportion_matched_recs = len(cold_user_recs) / len(cold_user_items_no_avg_rating_idx)
proportion_matched_recs_rounded = round(proportion_matched_recs, 2)
proportion_matched_recs_rounded

0.2

In [10]:
# посчитаем метрики рекомендаций
from sklearn.metrics import mean_squared_error, mean_absolute_error

rmse = mean_squared_error(cold_user_recs["rating"], cold_user_recs["avg_rating"], squared=False)
mae = mean_absolute_error(cold_user_recs["rating"], cold_user_recs["avg_rating"])
print(round(rmse, 2), round(mae, 2))

0.78 0.62

In [11]:
cold_users_hit_ratio = cold_users_events_with_recs.groupby("user_id").agg(hits=("avg_rating", lambda x: (~x.isnull()).mean()))

print(f"Доля пользователей без релевантных рекомендаций: {(cold_users_hit_ratio == 0).mean().iat[0]:.2f}")
print(f"Среднее покрытие пользователей: {cold_users_hit_ratio[cold_users_hit_ratio != 0].mean().iat[0]:.2f}")

Доля пользователей без релевантных рекомендаций: 0.59
Среднее покрытие пользователей: 0.44

In [12]:
# Посчитайте количество уникальных пользователей и предметов
num_users = len(events['user_id'].unique())
num_items = len(events['item_id'].unique())

# количество всех ячеек в матрице
num_cells = num_users * num_items

# количество пустых ячеек в матрице
col_null_cells = len(events[events['rating'] == 0])

# Посчитайте степень разреженности
sparsity = col_null_cells / num_cells

print('Степень разреженности U-I-матрицы: ', sparsity)

Степень разреженности U-I-матрицы:  0.0

### Модель SVD

In [56]:
pip install surprise

Defaulting to user installation because normal site-packages is not writeable
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.4/154.4 KB 1.3 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
  WARNING: Generating metadata for package scikit-surprise produced metadata for project name unknown. Fix your #egg=scikit-surprise fragments.
Discarding https://files.pythonhosted.org/packages/d9/8d/40ac32e703f3808159f9e2b33760cfbd6224cc7783eb663091eddc9581c2/scikit_surprise-1.1.4.tar.gz#sha256=130c45feaee9de4b8cba0aff413ad9b51b2d5c5c90d41aee4759e00059913752 (from https://pypi.org/simple/scikit-surprise/) (requires-python:>=3.8): Requested unknown from https://files.pythonhosted.org/packages/d9/8d/40ac32e703f3808159f9e2b33760cfbd6224cc7783eb663091eddc9581c2/scikit_surprise-1.1.4.tar.gz#sha256=130c45feaee9de4b8cba0aff413ad9b51b2d5c5c90d41aee4759e00059913752 (from surprise) has inconsistent name: filename has 'scikit-surprise', but metadata has 'unknown'
  Using cached scikit-surprise-1.1.3.tar.gz (771 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /home/mle-user/.local/lib/python3.10/site-packages (from scikit-surprise->surprise) (1.4.2)
Requirement already satisfied: numpy>=1.17.3 in /home/mle-user/.local/lib/python3.10/site-packages (from scikit-surprise->surprise) (1.26.2)
Requirement already satisfied: scipy>=1.3.2 in /home/mle-user/.local/lib/python3.10/site-packages (from scikit-surprise->surprise) (1.15.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=2804067 sha256=bb324e50d73aac9f6049aa65690a4ccbccd1b3cacef7d5ed88eda6c07a682e54
  Stored in directory: /home/mle-user/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1
Note: you may need to restart the kernel to use updated packages.

In [57]:
from surprise import Dataset, Reader
from surprise import SVD

# используем Reader из библиотеки surprise для преобразования событий (events)
# в формат, необходимый surprise
reader = Reader(rating_scale=(1, 5))
surprise_train_set = Dataset.load_from_df(events_train[['user_id', 'item_id', 'rating']], reader)
surprise_train_set = surprise_train_set.build_full_trainset()

# инициализируем модель
svd_model = SVD(n_factors=100, random_state=0)

# обучаем модель
svd_model.fit(surprise_train_set)

In [58]:
surprise_test_set = list(events_test[['user_id', 'item_id', 'rating']].itertuples(index=False))

# получаем рекомендации для тестовой выборки
svd_predictions = svd_model.test(surprise_test_set)

In [59]:
from surprise import accuracy

rmse = accuracy.rmse(svd_predictions)
mae = accuracy.mae(svd_predictions)
                     
print(rmse, mae)

RMSE: 0.8289
MAE:  0.6474
0.8288711689059135 0.647437483750257

In [62]:
from surprise import NormalPredictor

# инициализируем состояние генератора, это необходимо для получения
# одной и той же последовательности случайных чисел, только в учебных целях
np.random.seed(0)

random_model = NormalPredictor()

random_model.fit(surprise_train_set)
random_predictions = random_model.test(surprise_test_set)

In [63]:
rmse = accuracy.rmse(random_predictions)
mae = accuracy.mae(random_predictions)

RMSE: 1.2628
MAE:  1.0018

#### Получение рекомендаций

In [65]:
def get_recommendations_svd(user_id, all_items, events, model, include_seen=True, n=5):

    """ возвращает n рекомендаций для user_id """
    
    # получим список идентификаторов всех книг
    all_items = set(events['item_id'].unique())
        
    # учитываем флаг, стоит ли уже прочитанные книги включать в рекомендации
    if include_seen:
        items_to_predict = list(all_items)
    else:
        # получим список книг, которые пользователь уже прочитал ("видел")
        seen_items = set(events[events['user_id'] == user_id]['item_id'].unique())
        
        # книги, которые пользователь ещё не читал
        # только их и будем включать в рекомендации
        items_to_predict = list(all_items - seen_items)
    
    # получаем скоры для списка книг, т. е. рекомендации
    predictions = [model.predict(user_id, item_id) for item_id in items_to_predict]
    
    # сортируем рекомендации по убыванию скора и берём только n первых
    recommendations = sorted(predictions, key=lambda x: x.est, reverse=True)[:n]
    
    return pd.DataFrame([(pred.iid, pred.est) for pred in recommendations], columns=["item_id", "score"])

In [71]:
get_recommendations_svd(1296647, items, events_test, svd_model)

    item_id     score
0   7864312  4.981188
1  25793186  4.912001
2  12174312  4.898052
3     13208  4.894869
4  33353628  4.891661

In [74]:
# выберем произвольного пользователя из тренировочной выборки ("прошлого")
user_id = events_train['user_id'].sample().iat[0]

print(f"user_id: {user_id}")

print("История (последние события, recent)")
user_history = (
    events_train
    .query("user_id == @user_id")
    .merge(items.set_index("item_id")[["author", "title", "genre_and_votes"]], on="item_id")
)
user_history_to_print = user_history[["author", "title", "started_at", "read_at", "rating", "genre_and_votes"]].tail(10)
display(user_history_to_print)

print("Рекомендации")
user_recommendations = get_recommendations_svd(user_id, items, events_train, svd_model)
user_recommendations = user_recommendations.merge(items[["item_id", "author", "title", "genre_and_votes"]], on="item_id")
display(user_recommendations)

user_id: 1095219
История (последние события, recent)

,author,title,started_at,read_at,rating,genre_and_votes
142,Jocelyn Davies,"A Beautiful Dark (A Beautiful Dark, #1)",2014-10-04,2014-12-26,4,"{'Paranormal-Angels': 368, 'Young Adult': 324,..."
143,Kelley Armstrong,"The Gathering (Darkness Rising, #1)",2013-07-31,2013-08-07,2,"{'Young Adult': 1308, 'Fantasy-Paranormal': 96..."
144,Courtney Allison Moulton,"Angelfire (Angelfire, #1)",2012-12-06,2012-12-21,5,"{'Paranormal-Angels': 613, 'Young Adult': 601,..."
145,Andrea Cremer,Rift (Nightshade Prequel #1; Nightshade World #1),2013-07-30,2013-07-31,5,"{'Fantasy': 215, 'Young Adult': 177, 'Fantasy-..."
146,Becca Fitzpatrick,"Hush, Hush (Hush, Hush, #1)",2013-12-31,2014-01-02,4,"{'Young Adult': 5341, 'Fantasy': 4355, 'Romanc..."
147,Rachel Vincent,"Rogue (Shifters, #2)",2015-03-16,2015-03-16,5,"{'Fantasy-Urban Fantasy': 558, 'Fantasy-Parano..."
148,"P.C. Cast, Kristin Cast","Marked (House of Night, #1)",2013-03-11,2013-04-04,4,"{'Young Adult': 4296, 'Paranormal-Vampires': 3..."
149,Carrie Jones,"Entice (Need, #3)",2012-07-29,2012-11-03,5,"{'Young Adult': 402, 'Fantasy': 337, 'Fantasy-..."
150,Carrie Jones,"Captivate (Need, #2)",2012-07-24,2012-07-25,5,"{'Young Adult': 558, 'Fantasy': 455, 'Fantasy-..."
151,Carrie Jones,"Need (Need, #1)",2012-04-10,2012-04-11,5,"{'Young Adult': 1122, 'Fantasy': 947, 'Fantasy..."

Рекомендации

,item_id,score,author,title,genre_and_votes
0,78,5,John McPhee,Annals of the Former World,"{'Science': 257, 'Nonfiction': 213, 'Science-G..."
1,6816890,5,José Luís Peixoto,Morreste-me,"{'Cultural-Portugal': 16, 'European Literature..."
2,394535,5,Cormac McCarthy,"Blood Meridian, or the Evening Redness in the ...","{'Fiction': 3132, 'Historical-Historical Ficti..."
3,132778,5,J.D. Robb,"Vengeance in Death (In Death, #6)","{'Mystery': 991, 'Romance': 483, 'Mystery-Crim..."
4,33163378,5,Jennifer Mathieu,Moxie,"{'Young Adult': 871, 'Contemporary': 611, 'Fem..."

# === Базовые подходы: коллаборативная фильтрация

In [13]:
import scipy
import sklearn.preprocessing

# перекодируем идентификаторы пользователей: 
# из имеющихся в последовательность 0, 1, 2, ...
user_encoder = sklearn.preprocessing.LabelEncoder()
user_encoder.fit(events["user_id"])
events_train["user_id_enc"] = user_encoder.transform(events_train["user_id"])
events_test["user_id_enc"] = user_encoder.transform(events_test["user_id"])

# перекодируем идентификаторы объектов: 
# из имеющихся в последовательность 0, 1, 2, ...
item_encoder = sklearn.preprocessing.LabelEncoder()
item_encoder.fit(items["item_id"])
items["item_id_enc"] = item_encoder.transform(items["item_id"])
events_train["item_id_enc"] = item_encoder.transform(events_train["item_id"])
events_test["item_id_enc"] = item_encoder.transform(events_test["item_id"])

/tmp/ipykernel_4030/1044897688.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_train["user_id_enc"] = user_encoder.transform(events_train["user_id"])
/tmp/ipykernel_4030/1044897688.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_test["user_id_enc"] = user_encoder.transform(events_test["user_id"])
/tmp/ipykernel_4030/1044897688.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_train["item_id_enc"] = item_encoder.transform(events_train["item_id"])
/tmp/ipykernel_4030/1044897688.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_test["item_id_enc"] = item_encoder.transform(events_test["item_id"])

In [15]:
events_train['item_id_enc'].max()

43304

In [16]:
user_item_matrix_train

NameError: name 'user_item_matrix_train' is not defined

In [20]:
# Посчитайте количество уникальных пользователей и предметов
num_users = len(events_train['user_id'].unique())
num_items = len(events_train['item_id'].unique())

# рассчитываем размер матрицы user_item_matrix_train в гигабайтах
num_cells = (num_users * num_items) / (1024 ** 3)

print('Размер матрицы в гигабайтах: ', num_cells)

Размер матрицы в гигабайтах:  16.54028546065092

In [21]:
# создаём sparse-матрицу формата CSR 
user_item_matrix_train = scipy.sparse.csr_matrix((
    events_train["rating"],
    (events_train['user_id_enc'], events_train['item_id_enc'])),
    dtype=np.int8)

In [ ]:
import sys

# sparse-матрица формата CSR меньше занимает оперативной памяти
sum([sys.getsizeof(i) for i in user_item_matrix_train.data])/1024**3

0.26370687410235405

### Модель ALS

In [25]:
pip install implicit

Defaulting to user installation because normal site-packages is not writeable
Collecting implicit
  Using cached implicit-0.7.2-cp310-cp310-manylinux2014_x86_64.whl (8.9 MB)
Requirement already satisfied: threadpoolctl in /home/mle-user/.local/lib/python3.10/site-packages (from implicit) (3.5.0)
Requirement already satisfied: scipy>=0.16 in /home/mle-user/.local/lib/python3.10/site-packages (from implicit) (1.15.1)
Requirement already satisfied: tqdm>=4.27 in /home/mle-user/.local/lib/python3.10/site-packages (from implicit) (4.67.1)
Requirement already satisfied: numpy>=1.17.0 in /home/mle-user/.local/lib/python3.10/site-packages (from implicit) (1.26.2)
Installing collected packages: implicit
Successfully installed implicit-0.7.2
Note: you may need to restart the kernel to use updated packages.

In [26]:
from implicit.als import AlternatingLeastSquares

als_model = AlternatingLeastSquares(factors=50, iterations=50, regularization=0.05, random_state=0)
als_model.fit(user_item_matrix_train)

/home/mle-user/.local/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/home/mle-user/.local/lib/python3.10/site-packages/implicit/cpu/als.py:95: RuntimeWarning: OpenBLAS is configured to use 4 threads. It is highly recommended to disable its internal threadpool by setting the environment variable 'OPENBLAS_NUM_THREADS=1' or by calling 'threadpoolctl.threadpool_limits(1, "blas")'. Having OpenBLAS use a threadpool can lead to severe performance issues here.
  check_blas_config()
100%|██████████| 50/50 [04:35<00:00,  5.52s/it]

In [27]:
def get_recommendations_als(user_item_matrix, model, user_id, user_encoder, item_encoder, include_seen=True, n=5):
    """
    Возвращает отранжированные рекомендации для заданного пользователя
    """
    user_id_enc = user_encoder.transform([user_id])[0]
    recommendations = model.recommend(
         user_id_enc, 
         user_item_matrix[user_id_enc], 
         filter_already_liked_items=not include_seen,
         N=n)
    recommendations = pd.DataFrame({"item_id_enc": recommendations[0], "score": recommendations[1]})
    recommendations["item_id"] = item_encoder.inverse_transform(recommendations["item_id_enc"])
    
    return recommendations

In [28]:
# Выбор произвольного пользователя из тренировочной выборки
user_id = events_train['user_id'].sample().iat[0]

print(f"user_id: {user_id}")

print("История (последние события, recent)")
user_history = (
    events_train
    .query("user_id == @user_id")
    .merge(items.set_index("item_id")[["author", "title", "genre_and_votes"]], on="item_id")
)
user_history_to_print = user_history[["author", "title", "rating", "genre_and_votes"]].tail(10)
display(user_history_to_print)

print("Рекомендации")
user_recommendations = get_recommendations_als(user_item_matrix_train, als_model, user_id, user_encoder, item_encoder, include_seen=False, n=5)
user_recommendations = user_recommendations.merge(items, on="item_id")
user_recommendations["seen"] = user_recommendations["item_id"].isin(user_history["item_id"])
display(user_recommendations)

user_id: 1188575
История (последние события, recent)

,author,title,rating,genre_and_votes
1,Sarah J. Maas,A Court of Thorns and Roses (A Court of Thorns...,4,"{'Fantasy': 14326, 'Young Adult': 4662, 'Roman..."
2,Katie McGarry,"Pushing the Limits (Pushing the Limits, #1)",4,"{'Romance': 2052, 'Young Adult': 2048, 'Contem..."
3,Huntley Fitzpatrick,My Life Next Door,4,"{'Young Adult': 2288, 'Romance': 1997, 'Contem..."
4,Gayle Forman,"Just One Night (Just One Day, #2.5)",4,"{'Young Adult': 481, 'Romance': 413, 'Contempo..."
5,Julie Cross,Whatever Life Throws at You,4,"{'Romance': 211, 'Young Adult': 181, 'Contempo..."
6,Gayle Forman,"Just One Day (Just One Day, #1)",4,"{'Young Adult': 1829, 'Romance': 1490, 'Contem..."
7,Jennifer L. Armentrout,"Be with Me (Wait for You, #2)",4,"{'New Adult': 1163, 'Romance': 951, 'Contempor..."
8,Jenny Han,P.S. I Still Love You (To All the Boys I've Lo...,4,"{'Young Adult': 3659, 'Romance': 3112, 'Contem..."
9,Tabitha Suzuma,Forbidden,3,"{'Young Adult': 1280, 'Romance': 1145, 'Contem..."
10,Matthew Quick,"Forgive Me, Leonard Peacock",4,"{'Young Adult': 1539, 'Contemporary': 812, 'Fi..."

Рекомендации

,item_id_enc_x,score,item_id,author,title,description,genre_and_votes,num_pages,average_rating,ratings_count,...,country_code,language_code,format,is_ebook,isbn,isbn13,genre_and_votes_dict,genre_and_votes_str,item_id_enc_y,seen
0,24976,0.365925,6936382,Stephanie Perkins,Anna and the French Kiss (Anna and the French ...,Anna is looking forward to her senior year in ...,"{'Young Adult': 6126, 'Romance': 5253, 'Contem...",372,4.07,267364,...,US,en-US,,False,0525423273,9780525423270,"{'Academic': None, 'Academic-Academia': None, ...","Young Adult 6126, Romance 5253, Contemporary 3...",24976,False
1,32860,0.344809,15749186,Jenny Han,To All the Boys I've Loved Before (To All the ...,What if all the crushes you ever had found out...,"{'Young Adult': 5919, 'Romance': 4965, 'Contem...",355,4.11,144832,...,US,eng,Paperback,False,,,"{'Academic': None, 'Academic-Academia': None, ...","Young Adult 5919, Romance 4965, Contemporary 4...",32860,False
2,28257,0.334876,9961796,Stephanie Perkins,Lola and the Boy Next Door (Anna and the Frenc...,There is an alternate cover edition for this I...,"{'Young Adult': 3437, 'Romance': 2781, 'Contem...",384,4.00,110284,...,US,en-US,Hardcover,False,0525423281,9780525423287,"{'Academic': None, 'Academic-Academia': None, ...","Young Adult 3437, Romance 2781, Contemporary 2...",28257,False
3,27857,0.326370,9627755,Stephanie Perkins,Isla and the Happily Ever After (Anna and the ...,"Love ignites in the City That Never Sleeps, bu...","{'Young Adult': 2548, 'Romance': 2085, 'Contem...",339,4.10,74039,...,US,eng,Hardcover,False,0525425632,9780525425632,"{'Academic': None, 'Academic-Academia': None, ...","Young Adult 2548, Romance 2085, Contemporary 2046",27857,False
4,36180,0.289114,18189606,Morgan Matson,Since You've Been Gone,It was Sloane who yanked Emily out of her shel...,"{'Contemporary': 2089, 'Young Adult': 1958, 'R...",464,4.19,62419,...,US,eng,Hardcover,False,1442435003,9781442435001,"{'Academic': None, 'Academic-Academia': None, ...","Contemporary 2089, Young Adult 1958, Romance 9...",36180,False

In [29]:
# получаем список всех возможных user_id (перекодированных)
user_ids_encoded = range(len(user_encoder.classes_))

# получаем рекомендации для всех пользователей
als_recommendations = als_model.recommend(
    user_ids_encoded, 
    user_item_matrix_train[user_ids_encoded], 
    filter_already_liked_items=False, N=100)

In [31]:
# преобразуем полученные рекомендации в табличный формат
item_ids_enc = als_recommendations[0]
als_scores = als_recommendations[1]

als_recommendations = pd.DataFrame({
    "user_id_enc": user_ids_encoded,
    "item_id_enc": item_ids_enc.tolist(), 
    "score": als_scores.tolist()})
als_recommendations = als_recommendations.explode(["item_id_enc", "score"], ignore_index=True)

# приводим типы данных
als_recommendations["item_id_enc"] = als_recommendations["item_id_enc"].astype("int")
als_recommendations["score"] = als_recommendations["score"].astype("float")

# получаем изначальные идентификаторы
als_recommendations["user_id"] = user_encoder.inverse_transform(als_recommendations["user_id_enc"])
als_recommendations["item_id"] = item_encoder.inverse_transform(als_recommendations["item_id_enc"])
als_recommendations = als_recommendations.drop(columns=["user_id_enc", "item_id_enc"])

In [33]:
als_recommendations = als_recommendations[["user_id", "item_id", "score"]]
als_recommendations.to_parquet("als_recommendations.parquet")

In [34]:
# Для удобства оценки добавим в датафрейм с рекомендациями истинные оценки из тестовой выборки:
als_recommendations = (
    als_recommendations
    .merge(events_test[["user_id", "item_id", "rating"]]
               .rename(columns={"rating": "rating_test"}), 
           on=["user_id", "item_id"], how="left")
)

In [35]:
# Подсчитать метрику NDCG для одного пользователя
import sklearn.metrics

def compute_ndcg(rating: pd.Series, score: pd.Series, k):

    """ подсчёт ndcg
    rating: истинные оценки
    score: оценки модели
    k: количество айтемов (по убыванию score) для оценки, остальные - отбрасываются
    """
    
    # если кол-во объектов меньше 2, то NDCG - не определена
    if len(rating) < 2:
        return np.nan

    ndcg = sklearn.metrics.ndcg_score(np.asarray([rating.to_numpy()]), np.asarray([score.to_numpy()]), k=k)

    return ndcg

Умея считать NDCG для одного пользователя, посчитаем данную метрику, например, для
k=5 для всех пользователей из тестовой выборки. В результате каждому пользователю будет соответствовать одно значение NDCG@5. Запись “NDCG@5” означает, что метрика NDCG считается для пяти объектов.

In [39]:
rating_test_idx = ~als_recommendations["rating_test"].isnull()
ndcg_at_5_scores = als_recommendations[rating_test_idx].groupby("user_id").apply(lambda x: compute_ndcg(x["rating_test"], x["score"], k=5))

# Имея ряд значений NDCG@5 по пользователям, можно посчитать среднее её значение (по всем пользователям)
print('Среднее значение NDCG@5: ', round(ndcg_at_5_scores.mean(), 2))

Среднее значение NDCG@5:  0.98

In [40]:
# Оценка доли пользователей, для которых удалось посчитать метрику NDCG
total_users = len(user_encoder.classes_)
users_ndcg = ndcg_at_5_scores.notnull().sum()
users_ndcg_proportion = users_ndcg / total_users

round(users_ndcg_proportion, 2)

0.04

##### Используем модель ALS для получения похожих items с помощью метода similar_items

In [47]:
# Предположим, что item_ids для анализа уже определены
item_ids_to_analyze = [100, 200, 300]  # пример ID айтемов, которые будем анализировать

# Используем модель для получения похожих айтемов
similar_items_dict = {}
for item_id in item_ids_to_analyze:
    similar_items = als_model.similar_items(item_id, N=10)
    similar_items_dict[item_id] = similar_items

# Преобразуем результаты в DataFrame
similar_items_list = []
for item_id, (sim_item_ids, scores) in similar_items_dict.items():
    for sim_item_id, score in zip(sim_item_ids, scores):
        similar_items_list.append((item_id, sim_item_id, score))

similar_items_df = pd.DataFrame(similar_items_list, columns=["item_id", "similar_item_id", "score"])

similar_items_df

    item_id  similar_item_id     score
0       100              100  1.000000
1       100              416  0.955224
2       100             8081  0.945551
3       100              240  0.940132
4       100             2962  0.935671
5       100             1479  0.932158
6       100             8742  0.932129
7       100             1817  0.926266
8       100             6934  0.925741
9       100             3335  0.925313
10      200              200  1.000000
11      200              355  0.935373
12      200             1149  0.915934
13      200            13726  0.908473
14      200              344  0.906826
15      200              591  0.905784
16      200             2044  0.897834
17      200             2043  0.893617
18      200             6757  0.881101
19      200             5868  0.881037
20      300              300  1.000000
21      300            14072  0.970269
22      300             5100  0.962210
23      300             1534  0.954783
24      300             6161  0.954676
25      300             1532  0.954263
26      300            13975  0.951256
27      300            10627  0.950847
28      300            17615  0.949795
29      300             6866  0.945453

##### Используем модель ALS для получения похожих users с помощью метода similar_users

In [50]:
# Выберем несколько users для анализа
users_ids_to_analyze = [1, 50, 100]  # Пример ID user, которые будем анализировать

# Используем модель для получения похожих user
similar_users_dict = {}
for user_id in users_ids_to_analyze:
    similar_user = als_model.similar_users(user_id, N=10)
    similar_users_dict[user_id] = similar_user

# Преобразуем результаты в DataFrame
similar_users_list = []
for user_id, (sim_user_ids, scores) in similar_users_dict.items():
    for sim_user_id, score in zip(sim_user_ids, scores):
        similar_users_list.append((user_id, sim_user_id, score))

similar_users_df = pd.DataFrame(similar_users_list, columns=["user_id", "similar_user_id", "score"])

similar_users_df

    user_id  similar_user_id     score
0         1                1  1.000000
1         1           118312  0.994112
2         1           199361  0.993490
3         1           205072  0.992585
4         1           343231  0.992469
5         1            29103  0.992195
6         1           105530  0.991213
7         1           313396  0.990874
8         1            30087  0.990061
9         1           272370  0.989844
10       50               50  1.000000
11       50           291955  0.999842
12       50             9705  0.999797
13       50           206949  0.999783
14       50           356827  0.999776
15       50           267723  0.999734
16       50           259153  0.999734
17       50            34916  0.999734
18       50           424762  0.999734
19       50           255872  0.999734
20      100              100  1.000000
21      100           315108  0.877182
22      100           108742  0.873834
23      100           245345  0.854997
24      100            49011  0.797158
25      100           311930  0.757059
26      100           142979  0.738035
27      100           378373  0.737445
28      100           145711  0.730806
29      100           134316  0.726351

# === Базовые подходы: контентные рекомендации

In [51]:
items["genre_and_votes"] = items["genre_and_votes"].apply(eval)

In [56]:
def get_genres(items):

    """ 
    извлекает список жанров по всем книгам, 
    подсчитывает долю голосов по каждому их них
    """
    
    genres_counter = {}
    
    for k, v, in items.iterrows():
        genre_and_votes = v["genre_and_votes"]
        if genre_and_votes is None or not isinstance(genre_and_votes, dict):
            continue
        for genre, votes in genre_and_votes.items():
            # увеличиваем счётчик жанров
            try:
                genres_counter[genre] += votes
            except KeyError:
                genres_counter[genre] = 0

    genres = pd.Series(genres_counter, name="votes")
    genres = genres.to_frame()
    genres = genres.reset_index().rename(columns={"index": "name"})
    genres.index.name = "genre_id"
    
    return genres
   
genres = get_genres(items)

In [57]:
genres["score"] = genres["votes"] / genres["votes"].sum()
genres.sort_values(by="score", ascending=False).head(10)

                                   name    votes     score
genre_id
25                              Fantasy  6850060  0.149651
1                               Fiction  6406256  0.139955
38                             Classics  3414934  0.074605
18                          Young Adult  3296951  0.072027
34                              Romance  2422614  0.052926
5                            Nonfiction  1737406  0.037957
16        Historical-Historical Fiction  1531205  0.033452
20                              Mystery  1371196  0.029956
24                      Science Fiction  1218917  0.026629
33                   Fantasy-Paranormal   857012  0.018723

Построим матрицу вида «книга-жанр»

In [58]:
def get_item2genre_matrix(genres, items):

    genre_names_to_id = genres.reset_index().set_index("name")["genre_id"].to_dict()
    
    # list to build CSR matrix
    genres_csr_data = []
    genres_csr_row_idx = []
    genres_csr_col_idx = []
    
    for item_idx, (k, v) in enumerate(items.iterrows()):
        if v["genre_and_votes"] is None:
            continue
        for genre_name, votes in v["genre_and_votes"].items():
            genre_idx = genre_names_to_id[genre_name]
            genres_csr_data.append(int(votes))
            genres_csr_row_idx.append(item_idx)
            genres_csr_col_idx.append(genre_idx)

    genres_csr = scipy.sparse.csr_matrix((genres_csr_data, (genres_csr_row_idx, genres_csr_col_idx)), shape=(len(items), len(genres)))
    # нормализуем, чтобы сумма оценок принадлежности к жанру была равна 1
    genres_csr = sklearn.preprocessing.normalize(genres_csr, norm='l1', axis=1)
    
    return genres_csr

In [59]:
items = items.sort_values(by="item_id_enc")
all_items_genres_csr = get_item2genre_matrix(genres, items)

In [60]:
user_id = 1000010
user_events = events_train.query("user_id == @user_id")[["item_id", "rating"]]
user_items = items[items["item_id"].isin(user_events["item_id"])]

user_items_genres_csr = get_item2genre_matrix(genres, user_items)
user_items_genres_csr

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 149 stored elements and shape (22, 815)>

In [65]:
user_items_genres_csr.count_nonzero()

149

In [66]:
# вычислим склонность пользователя к жанрам как среднее взвешенное значение популяции на его оценки книг.

# преобразуем пользовательские оценки из списка в вектор-столбец
user_ratings = user_events["rating"].to_numpy() / 5
user_ratings = np.expand_dims(user_ratings, axis=1)

user_items_genres_weighted = user_items_genres_csr.multiply(user_ratings)

user_genres_scores = np.asarray(user_items_genres_weighted.mean(axis=0))

In [68]:
# выведем список жанров, которые предпочитает пользователь

user_genres = genres.copy()
user_genres["score"] = np.ravel(user_genres_scores)
user_genres = user_genres[user_genres["score"] > 0].sort_values(by=["score"], ascending=False)

user_genres.head(5)

                     name    votes     score
genre_id
1                 Fiction  6406256  0.185241
38               Classics  3414934  0.103879
25                Fantasy  6850060  0.072447
5              Nonfiction  1737406  0.050865
24        Science Fiction  1218917  0.040920

Получите наиболее релевантные рекомендации для пользователя

In [73]:
from sklearn.metrics.pairwise import cosine_similarity

# вычисляем сходство между вектором пользователя и векторами по книгам
similarity_scores = cosine_similarity(all_items_genres_csr, user_genres_scores)

# преобразуем в одномерный массив
similarity_scores = similarity_scores.flatten()

# получаем индексы top-k (по убыванию значений), по сути, индексы книг (encoded)
k = 5
top_k_indices = np.argsort(similarity_scores)[-k:]

In [74]:
selected_items = items[items["item_id_enc"].isin(top_k_indices)]

with pd.option_context("max_colwidth", 100):
   display(selected_items[["author", "title", "genre_and_votes"]])

,author,title,genre_and_votes
80465,G.K. Chesterton,The Napoleon of Notting Hill,"{'Fiction': 166, 'Classics': 88, 'Fantasy': 44, 'Humor': 22, 'Literature': 20}"
1168335,Ray Bradbury,"Dandelion Wine (Green Town, #1)","{'Fiction': 1438, 'Classics': 914, 'Science Fiction': 529, 'Fantasy': 456, 'Young Adult': 212}"
393210,"G.K. Chesterton, Jonathan Lethem",The Man Who Was Thursday: A Nightmare,"{'Fiction': 1257, 'Classics': 929, 'Mystery': 469, 'Fantasy': 293, 'Philosophy': 156, 'Literatur..."
2244467,Samuel Butler,"Erewhon (Erewhon , #1)","{'Fiction': 162, 'Classics': 139, 'Science Fiction': 60, 'Fantasy': 55}"
39408,"Paulo Coelho, Alan R. Clarke, James Noel Smith",The Alchemist,"{'Fiction': 14023, 'Classics': 5787, 'Fantasy': 3289, 'Philosophy': 2759}"

# === Базовые подходы: валидация

In [75]:
def process_events_recs_for_binary_metrics(events_train, events_test, recs, top_k=None):

    """
    размечает пары <user_id, item_id> для общего множества пользователей признаками
    - gt (ground truth)
    - pr (prediction)
    top_k: расчёт ведётся только для top k-рекомендаций
    """

    events_test["gt"] = True
    common_users = set(events_test["user_id"]) & set(recs["user_id"])

    print(f"Common users: {len(common_users)}")
    
    events_for_common_users = events_test[events_test["user_id"].isin(common_users)].copy()
    recs_for_common_users = recs[recs["user_id"].isin(common_users)].copy()

    recs_for_common_users = recs_for_common_users.sort_values(["user_id", "score"], ascending=[True, False])

    # оставляет только те item_id, которые были в events_train, 
    # т. к. модель не имела никакой возможности давать рекомендации для новых айтемов
    events_for_common_users = events_for_common_users[events_for_common_users["item_id"].isin(events_train["item_id"].unique())]

    if top_k is not None:
        recs_for_common_users = recs_for_common_users.groupby("user_id").head(top_k)
    
    events_recs_common = events_for_common_users[["user_id", "item_id", "gt"]].merge(
        recs_for_common_users[["user_id", "item_id", "score"]], 
        on=["user_id", "item_id"], how="outer")    

    events_recs_common["gt"] = events_recs_common["gt"].fillna(False)
    events_recs_common["pr"] = ~events_recs_common["score"].isnull()
    
    events_recs_common["tp"] = events_recs_common["gt"] & events_recs_common["pr"]
    events_recs_common["fp"] = ~events_recs_common["gt"] & events_recs_common["pr"]
    events_recs_common["fn"] = events_recs_common["gt"] & ~events_recs_common["pr"]

    return events_recs_common

In [82]:
events_recs_for_binary_metrics = process_events_recs_for_binary_metrics(
  events_train,
    events_test, 
    als_recommendations, 
    top_k=10)

/tmp/ipykernel_4030/3166051426.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_test["gt"] = True

Common users: 123223

In [79]:
def compute_cls_metrics(events_recs_for_binary_metric):
    
    groupper = events_recs_for_binary_metric.groupby("user_id")

    # precision = tp / (tp + fp)
    precision = groupper["tp"].sum()/(groupper["tp"].sum()+groupper["fp"].sum())
    precision = precision.fillna(0).mean()
    
    # recall = tp / (tp + fn)
    recall = groupper["tp"].sum()/(groupper["tp"].sum()+groupper["fn"].sum())
    recall = recall.fillna(0).mean()

    return precision, recall

In [81]:
precision, recall = compute_cls_metrics(events_recs_for_binary_metrics)
precision, round(recall, 3)

(0.007581376853347184, 0.014)

In [83]:
precision, recall = compute_cls_metrics(events_recs_for_binary_metrics)
precision, round(recall, 3)

(0.008732947582837622, 0.031)

# === Двухстадийный подход: метрики

# === Двухстадийный подход: модель

# === Двухстадийный подход: построение признаков